/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Ubuntu', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Russo One', sans-serif;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.8rem;
}
p {
  font-size: 1.6rem;
  line-height: 1.4;
}
.container {
  width: 100%;
  margin: 0 auto;
}
.home {
  width: 95%;
}
.home .top .toplines {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15% 0 0 0;
}
.home .top .toplines .line1 {
  font-size: 1.2rem;
  font-style: normal;
  line-height: 136.11%;
}
.home .top .toplines .line2 {
  padding: 3% 0 0 0;
  font-size: 1.6rem;
  font-weight: bold;
  font-style: normal;
  line-height: 136.11%;
  text-align: center;
}
.home .top .toplines .welcome {
  padding: 12% 0 0 0;
  font-style: normal;
  font-weight: bold;
  font-size: 1.2rem;
  line-height: 134.51%;
  color: #8B8B8B;
}
.home .top .toplines h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 3.8rem;
  line-height: 131.81%;
  padding: 2% 0 0 0;
}
.home .top .toplines .tlist .one1 .welcome2 {
  padding: 12% 0 2% 0;
  font-style: normal;
  font-weight: bold;
  font-size: 1.2rem;
  line-height: 134.51%;
  color: #8B8B8B;
}
.home .top .toplines .tlist .one1 .normietext {
  font-size: 1.2rem;
  font-style: normal;
  line-height: 136.11%;
}
.home .top .toplines .tlist .two2 .welcome3 {
  padding: 4% 0 2% 0;
  font-style: normal;
  font-weight: bold;
  font-size: 1.2rem;
  line-height: 134.51%;
  color: #8B8B8B;
}
.home .top .toplines .tlist .two2 .normietext2 {
  font-size: 1.2rem;
  font-style: normal;
  line-height: 136.11%;
}
.home .top .toplines .tlist .three3 .welcome4 {
  padding: 4% 0 2% 0;
  font-style: normal;
  font-weight: bold;
  font-size: 1.2rem;
  line-height: 134.51%;
  color: #8B8B8B;
}
.home .top .toplines .tlist .three3 .normietext3 {
  font-size: 1.2rem;
  font-style: normal;
  line-height: 136.11%;
}
.home .button .start {
  margin: 10% 0 0 0;
  color: #FFFFFF;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: bold;
  background: #484848;
  padding: 4% 0;
  border-radius: 5px;
  width: 100%;
}
.home .bottomdots .dots {
  color: #FF385C;
  text-align: center;
  font-size: 4rem;
}
